# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Memory captures
MemoryCaptures/

# Visual Studio / Rider
.vs/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Unity cache
*.apk
*.aab
*.unitypackage